/* 欧阳思海  add 2020.05.02*/

/* 文章边栏的自定义css. */

.bg-danger {
  /* background-color: #009688; */
  padding: 15px;
  margin: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-block {
  padding: 10px 0px 30px 20px;
  margin-top: 10px;
  border-top: 1px solid #eceff2;
}

.tooltip {
  opacity: 1;
}

.widget-panel {
  background-color: white;
  padding: 5px 20px 20px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.media-body p {
  font-size: 13px;
  color: grey;
}

.widget-wrap {
  width: 300px;
  margin-left: -5px;
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-body {
  width: 10000px;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

h4,
.h4 {
  font-size: 18px;
}

html,
body,
applet,
object,
iframe,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}

.widget {
  padding: 15px 5px;
}

.widget ul,
.widget ol {
  list-style: none;
}

.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}

.article-entry ul,
.widget ul {
  list-style: disc;
}

.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  line-height: 1.6em;
}

ol,
ul {
  list-style: none;
}

.widget ul li,
.widget ol li,
.widget ul .category-list-child,
.widget ol .category-list-child {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid border-color;
}

.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a {
  color: #777;
}

.widget a {
  color: #009688;
  text-decoration: none;
}

body {
  color: #565a5f;
  background: #f5f8f9;
  font: 16px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial,
    sans-serif;
  -webkit-text-size-adjust: 100%;
}

.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}

.row {
  margin-top: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

element.style {
  color: orange;
  font-size: 14px;
}

.widget a {
  color: #009688;
  text-decoration: none;
}

.profile-block:last-child {
  border-bottom: none;
}

.profile-block {
  padding: 10px 0px 30px 20px;
  margin-top: 10px;
  border-top: 1px solid #eceff2;
}

.profile-block {
  padding: 15px 20px;
  border-bottom: 1px solid #eceff2;
}

element.style {
  width: 100%;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

element.style {
  text-align: left;
  padding-left: 5px;
}

@media (min-width: 992px) .col-md-7 {
  width: 58.33333333%;
}

@media (min-width: 992px) .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
  float: left;
}

.widget-title {
  font-size: 1em;
  font-weight: 700;
}

.widget-title {
  margin-bottom: 0;
  font-size: 1.2em;
}

.article-meta,
.archive-year,
.widget-title {
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
